asgiref==3.7.2
backports.zoneinfo==0.2.1;python_version<"3.9"
crispy-bootstrap4==2023.1
cx-Oracle==8.3.0
distlib==0.3.8
Django==4.2.8
django-crispy-forms==2.1
filelock==3.13.1
Pillow==10.1.0
platformdirs==4.1.0
sqlparse==0.4.4
typing-extensions==4.9.0
tzdata==2023.3
virtualenv==20.25.0
